anthropic==0.42.0
build==1.2.2.post1
coverage==7.6.10
faiss-cpu==1.10.0
fastapi==0.115.6
Flask==3.1.0
langchain==0.3.14
langchain-anthropic==0.3.1
langchain-community==0.3.14
langchain-core==0.3.29
langchain-huggingface==0.1.2
langchain-openai==0.3.0
langchain-text-splitters==0.3.5
numpy==1.26.4
omegaconf==2.3.0
openai==1.59.6
pypdf==5.2.0
pytest==8.3.4
python-dotenv==1.0.1
PyYAML==6.0.2
sentence-transformers==3.4.1
sentencepiece==0.2.0
setuptools==75.7.0
tiktoken==0.8.0
torch==2.2.2
tqdm==4.67.1
transformers==4.48.0
langserve[all]
streamlit==1.42.0